@font-face {
    font-family: "DM Serif Text Italic";
    src: url("/fonts/DM_Serif_Text/DMSerifText-Italic.ttf");
}

@font-face {
    font-family: "DM Serif Text Regular";
    src: url("/fonts/DM_Serif_Text/DMSerifText-Regular.ttf");
}

.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
} 
